$min767max1740: "all and (min-width: 767px) and (max-width: 1740px)";

$max1600: "all and (max-width: 1600px)";
$max1440: "all and (max-width: 1440px)"; //defined in modules/nav file (nav, nav-link, link-icons)
$max1199: "all and (max-width: 1199px)"; //defined in modules/nav file (nav, nav-link, link-icons)
$max997: "all and (max-width: 997px)";
$max768: "all and (max-width: 768px)";
$max576: "all and (max-width: 576px)";
$max440: "all and (max-width: 440px)";

$min998: "all and (min-width: 998px)";