//-----FOOTER-STYLES

.footer {
  background-color: $footer-bcg-color;
  color: $white;
  display: flex;
  flex-wrap: wrap;
  padding: 70px;
  box-sizing: border-box;

  @media #{$max1199} {
    padding: 50px;
  }

  //LINE under every link

  .footer-link-name {
    display: inline-block;
    color: $white;
  }

  .footer-link:hover {

    .link-line {
      width: 100%;
    }
  }

  //NEWSLETTER

  .newsletter-name-part {
    width: 100%;
    padding-bottom: 5px;
  }

  .newsletter-input-part {
    width: 50%;
    display: flex;
    flex-direction: column;

    @media #{$max768} {
      width: 100%;
      padding-bottom: 20px;
    }

    .input-container {
      border-bottom: 1px solid $white;
      display: flex;
      height: 40px;
      width: 50%;

      @media #{$max997} {
        width: 90%;
      }

      .newsletter-input {
        border: none;
        background-color: $footer-bcg-color;
        font-size: 16px;
        width: calc(100% - 32px);
        outline: none;

        &::placeholder {
          color: $link-color;
        }
      }

      .submit-arrow {
        width: 32px;
        background-position-y: 5px;
        background-image: url(../../images/icons/submit-newsletter.svg);
        background-repeat: no-repeat;
        border: none;
        background-color: transparent;
        cursor: pointer;
      }
    }
  }

  //CONTACT LINKS COLUMN

  .contact-part {
    width: 30%;
    display: flex;
    flex-direction: column;

    @media #{$max768} {
      width: 50%;
    }

    @media #{$max440} {
      width: 100%;
    }
  }

  //COMMUNITY LINKS COLUMN

  .community-part {
    width: 20%;
    display: flex;
    flex-direction: column;

    @media #{$max768} {
      width: 50%;
    }

    @media #{$max440} {
      width: 100%;
    }

    .external-link {
      width: 10px;
      padding-left: 10px;
    }
  }

  //LOW PART

  .lower-part {
    width: 100%;
    display: flex;
    padding-top: 50px;

    @media #{$max576} {
      flex-direction: column;
    }

    .lower-links {
      width: 80%;

      @media #{$max576} {
        width: 100%;
        display: flex;
        justify-content: space-between;
      }

      @media #{$max440} {
        flex-direction: column;
      }

      .lower-link {
        padding-right: 50px;

        @media #{$max768} {
          padding-right: 20px;
        }

        @media #{$max576} {
          padding-right: 0;
        }
      }
    }

    .lower-credits {
      width: 20%;

      @media #{$max576} {
        width: 100%;
      }
    }
  }
}