//-----COLORS

$main-bcg-color: #ebfffa;
$footer-bcg-color: rgb(92, 177, 216);
$link-color: #162951;
$detal-color: #ca0526;
$white: #ffffff;
$black: #000000;


//-----FONTS

$main-font: 'Josefin Sans', sans-serif;
//$paragraph-font: 'Open Sans', sans-serif;

//-----PROPERTIES

$main-padding: 200px;
$mobile-padding: 50px;