//-----COLORS

$main-bcg-color: #e3fcfb;
$footer-bcg-color: #73a8c7;
$link-color: #162951;
$detal-color: #fcce28;
$white: #ffffff;
$black: #000000;


//-----FONTS

$main-font: 'Josefin Sans', sans-serif;
//$paragraph-font: 'Open Sans', sans-serif;

//-----PROPERTIES

$main-padding: 200px;
$mobile-padding: 50px;